.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.capture_button {
  margin-top: 10px;
  background: cornsilk;
}

.nav-header {
  padding: 0px;
  padding-left: 0px;
  text-align: left;
  margin-left: 2px;
  font-variant: all-small-caps;
}

.demo-only {
  background-color: #acacad;
  height: 100vh;
  text-align: center;
  border: 1px solid #fffbfd;
}

.nav-panel {
  height: 100vh;
}

.App-body {
  background-color: rgba(33, 33, 33, 0.99);
  /*font-size: calc(10px + 2vmin);*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.capture_video_max {
  display: none;
}
