.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.capture_button {
  padding: 10px 50px;
  color: #000000;
  background-color: #9ae382;
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-weight: 600;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.capture_video_max {
  display: none;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  left: 30px;
  top: 30px;
}

.bm-burger-bars {
  background: #fffefa;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #4d4e4c;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
